  
version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: Henlo G
          command: echo hellow world
      - run:
          name: print the current time/date
          command: date
      - ruby/bundle-install
